---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<!-- begin section -->
<div class="section" style="background-image: url(img/1.jpg)">
	<div class="over"></div>
	{{ mixins.svg('1') }}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section" style="background-image: url(img/2.jpg)">
	<div class="over"></div>
	{{ mixins.svg('2') }}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section" style="background-image: url(img/3.jpg)">
	<div class="over"></div>
	{{ mixins.svg('3') }}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section" style="background-image: url(img/4.jpg)">
	<div class="over"></div>
	{{ mixins.svg('4') }}
</div>
<!-- end section -->

<!-- begin section -->
<div class="section" style="background-image: url(img/5.jpg)">
	<div class="over"></div>
	{{ mixins.svg('5') }}
</div>
<!-- end section -->




{% endblock %}
